.navbar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

  .connexion-link {
    margin-left: auto;
  }

  .agauche {
    display: flex;
    color: black;
    border-radius: 5px;
    gap: 20px; 
  }
  
  .image-class {
    width: 20px;
    height: 20px;
    border-radius: 10px;
  }