

<div class="navbar">
    <div class="agauche">
        <a routerLink="/">Accueil</a>
        <a routerLink="/horaires" routeurLinkActive="active">Horaires de vols</a>
        <a routerLink="/chauffeurs" routeurLinkActive="active" *ngIf="isLoggedIn()"> Chauffeurs</a>
        <a routerLink="/buses" routeurLinkActive="active" *ngIf="isLoggedIn()"> Bus</a>
        <a routerLink="/missions" routeurLinkActive="active" *ngIf="isLoggedIn()"> Missions</a>
    </div>
    <div class="droite">
        <a routerLink="/connexion" routerLinkActive="active" class="connexion-link" *ngIf="!isLoggedIn()"><img src="assets/Img/avatar.jpg" alt="Image_Profil" class="image-class" >Connexion</a>
        <button (click)="logout()" *ngIf="isLoggedIn()">Déconnexion</button>
    </div>
</div>

<router-outlet> </router-outlet>