<p>liste-conducteurs works!</p>
<img class="conduc-image" src="../assets/Img/conduc.jpeg" alt="">
<ul>
    <li *ngFor="let item of conducteur" appBorderCard>
     <a [routerLink]="['/details-conducteurs', item.id]">
      <div>
        <strong>Nom: </strong>{{ item.ConducName }}
      </div>
      <div>
        <strong>Âge: </strong>{{ item.age }}
      </div>
      <div>   
        <strong>Années de permis de conduire : </strong>{{ item.annee_service }} 
      </div> 
      </a>
    </li> 
  </ul>     
  <router-outlet></router-outlet>